---
title: "Products"
layout: "default"
isPage: true
---

<div class="jumbotron product">
  <div class="container product-descr">
    <h1>Java Professionals Course</h1>

    <p>This is a self-paced course for Java developers who already have some experience but don't understand how
      the code that they copy-paste works. It's a good starting point to become a professional Java engineer.</p>

    <p><a id="java-course-link" href="https://github.com/qala-io/java-course/" role="button">Learn more »</a></p>
  </div>

  <div class="container product-descr">
    <h1>Datagen library</h1>

    <p>Facilitates randomized testing by introducing handy DSL to generate different types of values like strings,
      numbers, dates, sampling collections, etc.</p>

    <p><a id="datagen-link" href="https://github.com/qala-io/datagen/" role="button">Learn more »</a></p>
  </div>
  <div class="container product-descr">
    <h1>Karma Plugin for JIRA</h1>

    <p>Calculates Users Karma, estimates risk of an issue to be reopened which allows to optimize code reviews and testing processes.</p>

    <p><a id="karma-marketplace-link" href="https://marketplace.atlassian.com/plugins/io.qala.karma" role="button">Learn more »</a></p>
  </div>
</div>