---
title: "What's better than Scrum?"
layout: "blogEntry"
isPage: true
---
<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">

        <h1 class="blog-post-title">What's better than Scrum?</h1>

        <p class="blog-post-meta">May 09, 2019 by Stanislav Bashkyrtsev</p>
        <p>

        </p>

        <h2>Abstract</h2>
        <p>
          In 1990s and early 2000s Scrum was probably a cutting-edge methodology (or a framework whatever that
          means) and had some fresh ideas. Maybe compared to ancient documentation-rich methodologies Scrum
          was something fresh and interesting, but it always lacked common sense. For some time the hype
          overcame: Scrum became super popular anyway which gave birth to many Scrum coaches who in turn keep the
          wheels spinning even today.
        </p>
        <p>It’s 2019 now and there are better, way more effective methodologies:
          Lean<a class="data-quote-link" href="#about-lean">ref</a>,
          Theory of Constraints (ToC)<a class="data-quote-link" href="#about-toc">ref</a>
          and DevOps, Continuous Delivery, Continuous Integration. So in order to divert the attention from Scrum
          I’d like to list some of the typical problems that many Scrum teams experience and common misconceptions
          that surround it.</p>


          <h2>Popup Notes:</h2>
          <ul>
              <li>
                  <div id="about-lean">
                      <h4>Lean</h4>
                      <div><p></p></div>
                  </div>
              </li>
          </ul>

      </div>
      <!-- /.blog-post -->
    </div>

    <!-- /.blog-main -->
  </div>
  <!-- /.row -->
</div>
<div class="quote-modal" id="quote-modal">
    <div><a href="#" id="quote-modal-close" title="Close" class="close">X</a>

        <div id="quote-modal-content">
            <h4>Title</h4>
        </div>
    </div>
</div>


<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "What's better than Scrum? | Qala",
      "alternativeHeadline": "Why is Scrum outdated? | Qala",
      "datePublished": "2019-05-09T00:00:00+00:00",
      "description": ""
    }
</script>
