---
title: "Stagnation of Dev Process"
layout: "blogEntry"
isPage: true
---
<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">

        <h1 class="blog-post-title">Stagnation of Dev Process</h1>

        <p class="blog-post-meta">November 12, 2017 by Stanislav Bashkyrtsev</p>

        <p style="text-align: right">
          <i>99 tasks left till release,<br>
            99 tasks left.<br>
            Week has passed, month has passed,<br>
            99 tasks left till release.</i>
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis metus quis sagittis euismod.
          Praesent eget blandit tortor. Integer convallis urna vitae vehicula sodales. Integer sed ultrices urna. Ut nec
          sagittis nibh. Aliquam dapibus blandit risus, et ultricies justo rutrum ut. Nam arcu eros, volutpat non porta
          sed, condimentum ut nisi. Morbi eget mollis justo. Aenean mollis justo id vestibulum congue. Duis a enim leo.
          Praesent sit amet massa eget neque cursus molestie id vitae purus. Morbi et dui eget justo placerat tristique.
          Etiam et dolor neque. Quisque ut nisi sed ante semper tincidunt.</p>

        <p></p>
        <!--<div style="text-align: center">-->
        <div id="cy" style="width:650px; height:500px;margin: 0 auto;"></div>
        <!--</div>-->
      </div>
      <div>
        <div id="parallelism-to-uncertainty">
          <h2>Parallelism causing uncertainty</h2>
          <p>When we start creating a new feature we hypothesize a lot about the needs of our audience. Many of
            these hypotheses turn out to be wrong so we’ll have to do some rework. This is not necessarily bad since
            we gain new information. The information allows us to make fewer mistakes when we work on the next
            features. And the further we’re with the project the better we understand our users and the fewer
            mistakes we make. With this in mind let’s compare 1-person team working on 1 task at a time with
            2-people team working on 2 tasks:
          </p>
          <img src="/img/parallel-work-leads-to-uncertainty.png"/>
          <p>While TeamB finished later it actually was more efficient because each next task was started only after
            the feedback is received for the previous task. E.g. if you compare last two tasks in both cases -
            smaller team was faster finishing them. And overall TeamA costed more than TeamB.</p>
        </div>
        <div id="uncertainty-to-rework">
          <h2>Uncertainty causing rework</h2>
          <p></p>
        </div>
        <div id="big-team-to-key-ppl-saturation">
          <h2>Big Team causing Key People saturation</h2>
          <p>It shouldn’t be a secret that the more people we add to teams the more efforts are spent on
            communication. Some may think that because of that each new person adds less and less value to the team.
            But the picture is worse than that:</p>
          <div>
            <div style="width:49%; text-align: center; float: left"><b>Expectations</b></div>
            <div style="width:49%; text-align: center; float: right"><b>Reality</b></div>
          </div>
          <div>
            <img style="width:49%" src="/img/team-perf-as-we-imagine.svg">
            <img style="width:49%" src="/img/team-perf-real.svg">
          </div>
          <p>Meaning that not only each new recruit is less beneficial, but also that at some point a critical mass is
            reached and Key People get saturated. This leads to team performance dropping until progress completely
            stops. Adding even more people leaves no bandwidth for Key People to look after quality which means that old
            functionality starts to break.</p>
        </div>
        <div id="key-ppl-saturation-to-stagnation">
          <h2>Key People saturation causing Stagnation</h2>
          <p>Often there are few Key People in the team who can do job from A to Z. The
            rest need assistance, mentoring, motivation. Incidentally Key People are usually those who can assist,
            mentor, motivate. Thus they become our <b>constraint</b> - either they are the ones who makes the job done
            or they lead others. And if Key People are overwhelmed, they start to block the whole project. Increasing
            the crowd puts an even greater burden on these people which leaves them less (if any) time to move projects
            further.</p>
          <p>Besides performance of the project, quality drops as well which may result in previously working
            functionality broken. This is usually not vivid in big teams because more people means more hubbub around
            and therefore it <i>seems</i> like something’s going on.</p>
        </div>
        <div id="rare-skills-to-key-ppl-saturation">
          <h2>Rare Skills causing Key People saturation</h2>
          <p>One of the reasons Key People become such is that they posses knowledge and skills that others don't.
            This means that every time there is a complicated problem they are going to be the only people who can
            fix it. When project progresses the new maintenance activities arise, new people are added that have to be
            taught, other issues show up. Eventually Key People get saturated because there appear to be too many
            tasks that no one else can accomplish.</p>
          <p>What if such problem happens and it's a blocker? </p>
          <ul><li>If the person who can work on it is either working on another blocker already or is on vacation, then
            the team is blocked.</li>
          <li>If the person is currently working on a not-so-critical task, then he needs to switch to the blocker.
            Task switching makes him less productive and even more vulnerable to saturation.</li></ul>
          <p>Both events are bad. Opposite to this is the situation when everyone can do everything, when the skills
            and responsibilities are shared.</p>
        </div>
        <div id="manual-regression-to-parallel-tasks">
          <h2>Manual Regression leading to Parallel Tasks</h2>
          <p>Manual regression is a long process that may span multiple days or weeks. But what should programmers do
            when QAs are checking the system? Management doesn't like people to slack without work so they assign new
            tasks. This results in parallelism because we have 2 sets of tasks - those that are not yet released and
            those that are currently in development. This leads to:</p>
          <ul>
            <li>Complicated branching strategies (development, release, hotfix, etc branches) because we don't want to
              introduce new changes to the trunk - those would have to be tested which lingers the regression even
              more.</li>
            <li>Many tasks to wrap your head around</li>
            <li>Developers switching between bug fixes and new functionality</li>
          </ul>
        </div>
        <div id="code-review-to-parallel-tasks">
          <h2>Code Reviews leading to Parallel Tasks</h2>
          <p>Code reviews lead to 2 kinds of parallelism:</p>
          <ul>
            <li>Reviewee has to switch to another task while he's waiting for the comments. Then he has to return back
              to the original task when the review is done. This may repeat multiple times.</li>
            <li>Reviewer may have to abandon his current task (especially if the review is live) in order
              to conduct the review.</li>
          </ul>
          <p>While being a hard and inefficient process (we'll talk more about that in next articles), code reviews
            are very important unless you can replace them with something else. One possible replacement could be
            pair programming.</p>
        </div>
        <div id="parallel-work-to-issues">
          <h2>Bugs & Issues causing Parallelism</h2>
          <p>Because with time the amount of code written is getting bigger the maintenance costs grow no matter
            what we do. What does vary from project to project is how fast this happens. For some teams this graph may
            represent a year, for others - 5 years:</p>
          <img src="/img/maintenance-over-time.svg" />
          <p>Typical sources of maintenance costs are bugs, poor UX (users requiring support), unstable infrastructure,
            unclear errors that require a lot of investigation. Many projects try to spend time on these because it
            looks like maintenance costs are pretty low for each separate feature. And this is true, but after some
            time they add up and may eat more than half of the development time.</p>
          <h2>Parallel Tasks causing bugs</h2>
          <p>Because </p>
        </div>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->
  </div>
  <!-- /.row -->
</div>

<div class="quote-modal" id="quote-modal">
  <div><a href="#" id="quote-modal-close" title="Close" class="close">X</a>

    <div id="quote-modal-content">
      <h4>Title</h4>
    </div>
  </div>
</div>

<script src="/cytoscape.min.js"></script>
<script type="text/javascript" nonce="x726c7f262">
  function position(y, x) {
    return {y: y * 150 + 30, x: x * 200 + 65};
  }

  cytoscape({
    container: document.getElementById('cy'),
    zoomingEnabled: false,
    panningEnabled: false,
    autolock: true,
    layout: {name: 'preset'},
    elements: [
      {data: {id: 'Stagnation'}, renderedPosition: position(0, 1)},
      {data: {id: 'Constant Rework'}, renderedPosition: position(1, 0)},
      {data: {id: 'Task Switching'}, renderedPosition: position(1, 1)},
      {data: {id: 'Key People Saturation'}, renderedPosition: position(1, 2)},
      {data: {id: 'Uncertainty in Reqs'}, renderedPosition: position(1.5, .5)},
      {data: {id: 'Parallel Tasks'}, renderedPosition: position(2, 1)},
      {data: {id: 'Code Review'}, renderedPosition: position(2, 1.7)},
      {data: {id: 'Big Team'}, renderedPosition: position(3, 2)},
      {data: {id: 'Manual Regression'}, renderedPosition: position(3, 1)},
      {data: {id: 'Rare Skills'}, renderedPosition: position(2, 2.3)},
      {data: {id: 'Bugs/Issues'}, renderedPosition: position(2, 0)},

      {data: {source: 'Constant Rework', target: 'Stagnation'}},
      {data: {source: 'Task Switching', target: 'Stagnation'}},
      {data: {quoteId: 'key-ppl-saturation-to-stagnation', source: 'Key People Saturation', target: 'Stagnation'}},

      {data: {quoteId: 'uncertainty-to-rework', source: 'Uncertainty in Reqs', target: 'Constant Rework'}},
      {data: {quoteId: 'parallelism-to-uncertainty', source: 'Parallel Tasks', target: 'Uncertainty in Reqs'}},
      {data: {source: 'Parallel Tasks', target: 'Task Switching'}},
      {data: {quoteId: 'code-review-to-parallel-tasks', source: 'Code Review', target: 'Parallel Tasks'}},
      {data: {source: 'Code Review', target: 'Key People Saturation'}},
      {data: {quoteId: 'manual-regression-to-parallel-tasks', source: 'Manual Regression', target: 'Parallel Tasks'}},
      {data: {source: 'Big Team', target: 'Parallel Tasks'}},
      {data: {quoteId: 'parallel-work-to-issues',source: 'Bugs/Issues', target: 'Parallel Tasks', id: 'bugs-to-parallel'}},
      {data: {source: 'Bugs/Issues', target: 'Constant Rework'}},
      {data: {quoteId: 'big-team-to-key-ppl-saturation', source: 'Big Team', target: 'Key People Saturation'}},
      {data: {quoteId: 'rare-skills-to-key-ppl-saturation', source: 'Rare Skills', target: 'Key People Saturation'}}
    ],
    style: [
      {selector: 'node', style: {
        'content': 'data(id)',
        'background-color': 'white',
        'shape': 'rectangle',
        'width': 100,
        'text-valign': 'center'}},
      {selector: 'edge', style: {
        'curve-style': 'bezier',
        'width': 3,
        'target-arrow-shape': 'triangle'}},
      {selector: 'edge[quoteId]', style: {
        'line-color': '#f8766d',
        'target-arrow-color': '#f8766d',}},
      {selector: '#bugs-to-parallel', style: {
        'source-arrow-color': '#f8766d',
        'source-arrow-shape': 'triangle'}}
    ]
  }).on('tap', 'edge', function (evt) {
    const edge = evt.target;
    const quoteContainer = document.getElementById(edge.data('quoteId'));
    document.app.quotePopup.show(quoteContainer);
  });
</script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "Sequential Dev Process for the win | Qala",
      "alternativeHeadline": "Sequential Dev Process for the win | Qala",
      "datePublished": "2015-11-07T00:00:00+00:00",
      "description": ""
    }

</script>
