---
title: "Overview of BDD: trends, frameworks, misconceptions"
layout: "blogEntry"
isPage: true
---
<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">
        <h1 class="blog-post-title">Overview of BDD: trends, frameworks, misconceptions</h1>

        <p class="blog-post-meta">March 10, 2016 by Stanislav Bashkyrtsev</p>
        <p>As it often happens with fancy words, there is a lot of noise around BDD on the internet. And there
          are so many "success stories" that </p>


        <h2>How it all started</h2>
        <p>It's easiest to understand what BDD is by going through the original article by Dan North
          (<a href="http://dannorth.net/introducing-bdd/">Introducing BDD</a>). It all started with naming the tests:
        </p>
        <p class="quote italic">I started using the word “behaviour” in place of “test” in my dealings with TDD and found
          that not only did it seem to fit but also that a whole category of coaching questions magically dissolved.
          I now had answers to some of those TDD questions. What to call your test is easy – it’s a sentence
          describing the next behaviour in which you are interested. How much to test becomes moot – you can only
          describe so much behaviour in a single sentence. When a test fails, simply work through the process
          described above – either you introduced a bug, the behaviour moved, or the test is no longer relevant.</p>
        <p class="quote italic">I found the shift from thinking in tests to thinking in behaviour so profound that
          I started to refer to TDD as BDD, or behaviour- driven development.</p>
        <p>So BDD was born simply as a replacement to stupid test names like <code>testMethod()</code>. Which is
          a very useful shift, but it didn't stop there. From that the author tried to create a "ubiquitous" language
          that both BAs, QAs and Devs could share:</p>
        <p class="quote italic">Around this time, Eric Evans published his bestselling book Domain-Driven Design.
          In it, he describes the concept of modeling a system using a ubiquitous language based on the business
          domain, so that the business vocabulary permeates right into the codebase.</p>
        <p class="quote italic"> Chris and I realized we were trying to define a ubiquitous language for
          <b>the analysis process itself</b>!</p>

        <p>The problem of this idea is that it doesn't really create a ubiquitous language. DDD states that the
          <i>domain terminology</i> has to be ubiquitous and be understood both by business and engineers. This
          has clear benefits. At the same time what BDD suggested is just a style of writing
          the requirements and tests. Which actually is not a big deal usually.</p>


        <h2>Given-When-Then style</h2>
        <p>This is the original style of requirements and tests suggested in scope of BDD. It was first introduced
          in JBehave, then in Cucumber (Ruby). And they both were ported to other languages: Behave (Python),
          SpecFlow (.Net), CucumberJS, CucumberJVM. This is a special type of frameworks that suggest text files
          as the source of truth.</p>
        <p>Interestingly Cucumber has its own name for its text files format: Gherkin.
          While this is a specific implementation of Given-When-Then, a lot of people confuse them and mistakenly use
          Gherkin to denote the whole family of Given-When-Then's.<p>
        <p>Anyway, back to the text files. They look like this:</p>
        <pre><code>Scenario: eat 5 out of 12
  Given there are 12 cucumbers
  When I eat 5 cucumbers
  Then I should have 7 cucumbers</code></pre>
        <p>Then in your Java/whatever you have expressions that could be matched against the text files:</p>
        <pre><code>@Given("there are (\\d+) cucumbers")
 public void some_cukes(int howMany) { } </code></pre>
        <p>Despite some popularity these frameworks have huge issues:</p>
        <ul>
          <li>Maintaining additional files. Besides usual code we have to write a lot of extra files which cannot be
            verified during compile time.</li>
          <li>No connection between steps. In pure code we could write a method that creates a variable
            (e.g. username) which can be passed to the next steps. But Behave/Cucumber frameworks do not support
            this natively. So people introduce horrible hacks like global state that can be changed in 1st step and
            be picked up by the 2nd step. Variables have never been easier, haven't they?</li>
          <li>The overall rigidness of the format. In real programming languages you have a flexibility to do
            whatever you want: generate data automatically, pick data from the pre-defined dictionary, re-use the
            functions/classes. But text files miss all of that making our lives harder.</li>
        </ul>
        <p>So due to high maintenance costs and inability to implement proper
          <a href="test-data-management.html">Test Data Management</a> these frameworks should be considered with
          great caution. Though despite the drawbacks they are still widely used - partly because of folks who think
          of them as <i>the</i> BDD frameworks, partly because of the marketing, and partly because the choice often
          is made by AQA teams rather than hardcore developers.</p>


        <h3>Business Analysts won't write story files for you</h3>
        <p>BDD suggests an enticing idea: if we write requirements in the specific format, why can't we use these
          requirements as tests? Then we try to go even further and instead of writing stories in a ticketing
          system, we ask BAs to write them directly in our story files. This approach sounds reasonable as
          it saves us from the additional work of copy-pasting the requirements into tests. But
          then it meets our old cruel friend - reality:</p>
        <ul>
          <li>First of all BAs didn't get used to write things directly into the source code and use VCS like Git.</li>
          <li>Then even if they agree to work in VCS, they can't know which steps exist already in code so instead
            of re-using old steps they write scenarios in natural language which means these story files will need
            to be processed by technical person anyway. Sometimes teams complicate things even more by introducing
            spreadsheets with possible steps that BAs could use when writing requirements.</li>
          <li>But the biggest issue is this: if we want to build a cool <a href="test-pyramid.html">Test Pyramid</a>
            we would place the tests on different levels - some of them will go as Unit BE Tests, others -
            as Component UI Tests and so on. This needs to be decided by a developer. Which means that either
            developer will still need to migrate the tests to where they belong (and most likely - rewrite them
            on the way). Or they all wind up at the System Level and say good bye to fast, effective and
            reliable testing.</li>
        </ul>


        <h3>Business Analysts won't read story files</h3>
        <p>Or managers.. Or pretty much anyone else besides the authors. </p>

        <h3>Other Given-When-Then alternatives</h3>
        <p>There is a rock star alternative for JBehave/Cucumber frameworks called
          <a href="http://spockframework.github.io/spock/docs/1.0/index.html">Spock Framework</a> (Groovy). The
          authors managed to put the Given-When-Then labels right into the code so that it looks like this:</p>
        <pre><code>def 'test name'() {
  given: 'Some condition'
    //code
  when: 'I do something'
    //code
  then: 'I expect something else'
    //code
 }</code></pre><p>And as well as JBehave/Cucumber it has variations for data tables:</p>
      <pre><code>@Unroll def 'validation for name must fail if #valueDescription specified (#name)'() {
  given:
    Pyramid pyramid = Pyramid.random([name: name])
    Set violations = validator().validate(pyramid)
  expect:
    pyramid && 1 == violations.size()
    pyramid && violations.first().messageTemplate.contains(expectedError)
  where:
    name                    | expectedError      | valueDescription
    ''                      | 'constraints.Size' | 'empty value'
    null                    | 'constraints.Size' | 'null value'
    randomAlphanumeric(101) | 'constraints.Size' | 'more than max number of symbols'
 }</code></pre><p>So while the BDD format is preserved, the tests do not loose the flexibility of the code. Though while
        it looks awesome - it's still Groovy and there fore it's dynamic. Which raises maintenance costs by itself.</p>


        <h3>When to choose Given-When-Then?</h3>
        <p>While this style looks cool at first - it's mostly an overkill. People around may promise that BAs will
          read (or even write) these tests and will understand everything and that it's a miracle and blah-blah, but:
        </p>
        <ul>
          <li>This format is too verbose for requirements. Even for plain User Stories. They very quickly become
            too large to comprehend - it's hard for developers (and for anyone else) to read so much of extra text.
            Then someone tries to convince you that "this is a sign that the story needs to be split". And you do
            this for a while, but the requirements become spread among many tiny stories and the complexity
            goes up even higher.</li>
          <li>It's too verbose for automated tests. In case of extra text files like in JBehave - the simply become
            unmanageable with time. You try to come up with smart folder hierarchy and to group scenarios in
            story files, but it's still much harder than working with plain old TestNG/JUnit. Even Spock adds extra
            text: in case of data-driven tests they save you lines, but otherwise may double your test size.</li>
        </ul>
        <p>But all is not lost: for complicated scenarios with many steps Given-When-Then format saves the day.</p>


        <h2>Describe It style</h2>
        <p>Many people think that Given-When-Then is the only BDD format, but this is not true. <i>Describe It</i>
          is a very popular alternative. It was originally introduced in <a href="http://rspec.info/">RSpec</a> looks
          like this:</p>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->
  </div>
  <!-- /.row -->
</div>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "Sprint Commitment - it is only in your head | Qala",
      "alternativeHeadline": "Sprint Commitment - it is only in your head | Qala",
      "datePublished": "2016-03-10T00:00:00+00:00",
      "description": ""
    }
</script>
