---
title: "Kanban vs. Just-in-Time vs. Lean"
layout: "blogEntry"
isPage: true
---

<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">
        <h1 class="blog-post-title">Lean vs. Just-in-time vs. Kanban</h1>

        <p class="blog-post-meta">Jun 7, 2020 by Stanislav Bashkyrtsev</p>
        <p>Many IT managers mistakenly use word Kanban to describe Just-in-time (JIT), others confuse the latter
          with Lean and think that these are equal things. These are widespread confusions, and in this post we'll
          go over the terminology and find out what's what.</p>

        <p>Term Lean Manufacturing was introduced in 1991 in the book
          <a href="https://en.wikipedia.org/wiki/The_Machine_That_Changed_the_World_(book)">The Machine That Changed The World</a>.
          It's a boring book (at least to me because I'm not a fan of cars), but reading the original work is important
          because the rest is just the reflection of it, so give it a try.
          Unfortunately Lean wasn't introduced as a standalone thing but rather as a comparison to Ford's Mass Production.
          Thus it's hard to talk about Lean separately, so let's dive a bit into history.</p>

        <h2>Lean history</h2>

        <p>In 1920's Henry Ford introduced first Mass Production in automotive industry (previously there were small shops
          that created individual cars for individual clients). The idea is to have an assembly line - people
          stand one after another, car parts are moving from the beginning to the end of the line, people do something
          with that part and it keeps going. But after some years several problems arose:</p>
        <ul>
          <li>Because each worker had very limited responsibilities they didn't know about the process as a whole. And if a
            broken part was passing by they couldn't tell that it's broken and would keep doing whatever they were
            tasked with. This meant that whole assembly line would spend time and material on something that
            should've been tossed away.</li>
          <li>This also meant that these people could not suggest improvements to the process.</li>
          <li>At some point the market saturated, but the production of cars didn't stop (interruptions were expensive)
            and kept producing new cars even though there were no buyers. This took space in warehouses,
            worsened relationships with the dealers.</li>
          <li>Competitors started to show up introducing new models of cars. But Ford's process was rigid -
            once assembly is set up it was very hard to change anything (e.g. to produce a different
            part for a different model of car). So Ford would produce a lot of spare parts and cars (that were not
            needed in such amounts), then spend time to re-configure the assembly and then do the same for another model.
          </li>
        </ul>
        <p>In 1950's Toyota started to shine. It was a poor company and it didn't have a luxury of being wasteful.
          They wanted to be flexible, to produce what's needed right now in the amounts that are needed right now.
          They too faced issues of re-configuring assembly lines - it was time-consuming, complicated and
          error prone. But instead of accepting it Toyota kept working on their process and hardware:</p>
        <ul>
          <li>Decrease the amount of time it took to re-configure machines from hours to minutes. This allowed
            quickly switching from producing parts A to producing parts B.</li>
          <li>The workers knew the process, anyone could halt the assembly line if a defect was discovered
            (which was prohibited in Ford's factories). The defects would be researched, the process would be amended.</li>
          <li>The goal was not to produce a lot of parts simultaneously, but rather to produce small batches quickly.</li>
        </ul>
        <p>This lowered the costs of production, improved quality of products, made it flexible and adjustable with
          no overproduction. Made it <i>lean</i>.</p>

        <h2>Lean</h2>

        <p>So Lean is all about continuous improvement of the process, decreasing the amount of waste in it,
          being flexible, having transparent process that people understand and can impact. That's philosophical part
          of it. The metrics that Lean measures:</p>
        <ul>
          <li>Lead time - how fast can a smallest part be created and reach the market. This measures the speed of the process.</li>
          <li>Inventory costs - how much of work has been applied but is still in the system and hasn't reached the
            market. The more you produce (and not sell), the longer the parts are in production - the higher the
            Inventory Costs.</li>
        </ul>

        <h2>Just-in-time (Pull)</h2>
        <p>The practical approach that Lean lead to is called Just-in-time or Pull system. Now production steps don't
          work independently of each other (producing as much as they can). Instead they produce whatever the next step
          asks them:</p>
        <ol>
          <li>Step1 finished 5 items, but people from Step2 are overloaded and can't take the new work yet</li>
          <li>Step1 stops working until Step2 can take consume items</li>
          <li>Once Step2 is able to take 1 item, people at Step1 start working on 1 new item</li>
        </ol>
        <p>That's why it's also called a Pull system - Step2 pulls the tasks from Step1. And until that happens Step1
          does nothing (work on process improvements?). This way we decrease Inventory Costs of the system.</p>

        <h2>Kanban vs. Just-in-time</h2>
        <p>In the 1st edition of The Machine (written in 1991) when describing how Toyota
          worked they made some mistakes in terminology. They thought that Kanban is the same thing as JIT.
          But in the 2nd edition (released in 2007) they apologized and fixed the terminology. Kanban means "card"
          and nothing more. So when you have a board with tasks and they look like cards - you can call them
          kanban.</p>
        <p>In IT the introduction of this term came with a nice book by David J. Anderson called
          <a href="https://www.amazon.com/Kanban-Successful-Evolutionary-Technology-Business/dp/0984521402">Kanban - Successful Evolutionary Change for Your Technology Business</a>.
          While it was written in 2010, the ideas were born much earlier. At that time only the 1st edition of The Machine
          existed so people started to use JIT and Kanban interchangeably.
        </p>
        <p>So <b>Kanban in IT is just a mistake</b>, whenever people say Kanban they mean Just-in-time.</p>

        <h2>Related articles</h2>
        <ul>
          <li><a href="./myth-kanban-is-for-maintenance.html">Busting myth about JIT suited for maintenance only</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
