---
title: "Tools for Software Testing"
layout: "blogEntry"
isPage: true
---
<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">

        <h1 class="blog-post-title">Tools for Software Testing</h1>

        <p class="blog-post-meta">December 08, 2017 by Julia Atlygina</p>

        <h2>Screenshots</h2>
        <ul>
          <li><a href="https://www.techsmith.com/screen-capture.html">Jing</a></li>
          <li><a href="https://monosnap.com/">Monosnap</a> capture full screen or area, record video as mp4 or GIF.
            Very user friendly.</li>
          <li><a href="http://recordit.co/">Recordit</a></li>
        </ul>

        <h2>Prototyping</h2>
        <ul>
          <li><a href="https://balsamiq.com/">Balsamiq</a> (paid) - desktop application that allows quickly creating
            prototypes for your software. Most of the actions have hotkeys so after some time using it becomes super
            effective.</li>
          <li><a href="https://addons.mozilla.org/en-US/firefox/addon/pencil/">Pencil (FF Addon)</a></li>
        </ul>

        <h2>Preparing Test Data</h2>
        <ul>
          <li><a href="http://www.mockaroo.com/">Mockaroo</a></li>
          <li><a href="http://www.generatedata.com/">generatedata.com</a></li>
          <li><a href="https://lipsum.com/">Loren Ipsum</a></li>
          <li><a href="https://gojko.github.io/bugmagnet/">Bugmagnet</a></li>
          <li><a href="http://lorempixel.com/">Lorempixel</a></li>
          <li><a href="https://chrome.google.com/webstore/detail/form-filler/bnjjngeaknajbdcgpfkgnonkmififhfo/related">Form Filler</a> (Chrome Plugin)</li>
        </ul>

        <h2>Pairwise</h2>
        <ul>
          <li><a href="https://inductive.no/pairwiser/">Pairwiser</a> - online version seems to be shutting down,
            desktop version costs a lot of money.</li>
        </ul>

        <h2>Validators</h2>
        <ul>
          <li><a href="http://validator.w3.org/checklink">W3C Checklink</a></li>
          <li><a href="https://validator.w3.org/">W3C HTML validator</a></li>
        </ul>

        <h2>Performance</h2>
        <ul>
          <li><a href="http://www.webpagetest.org/">WebPageTest</a></li>
          <li><a href="http://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a> </li>
          <li><a href="http://yslow.org/">YSlow</a> comes as a plugin for all popular browsers as well as a standalone
            utility.</li>
          <li><a href="https://gtmetrix.com">GTmetrix</a></li>
          <li><a href="https://developers.google.com/web/tools/lighthouse/">Lighthouse</a></li>
          <li><a href="http://converter.blazemeter.com">BlazeMeter</a></li>
        </ul>

        <h2>Compatibility Checkers</h2>
        <ul>
          <li><a href="https://www.modern.ie/ru-ru/virtualization-tools#downloads">ModernIE</a></li>
          <li><a href="https://www.browserstack.com/">Browserstack</a> (paid)</li>
          <li><a href="https://saucelabs.com/">Saucelabs.com</a> (paid)</li>
          <li><a href="https://testobject.com">TestObject</a> (free & paid) - testing mobile apps on real devices.</li>
        </ul>

        <h2>Security</h2>
        <ul>
          <li><a href="https://addons.mozilla.org/en-US/firefox/addon/xss-me/">XSS Me</a> (FF Addon)</li>
          <li><a href="https://addons.mozilla.org/en-US/firefox/addon/sql-inject-me/">SQL Inject Me</a> (FF Addon)</li>
        </ul>

        <h2>Web Proxies</h2>
        <ul>
          <li><a href="https://www.telerik.com/download/fiddler">Fiddler</a></li>
          <li><a href="https://www.charlesproxy.com/">Charles</a></li>
        </ul>

        <h2>Generic Web Testing</h2>
        <ul>
          <li>WebDeveloper
            <a href="https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm">Chrome Plugin</a>,
            <a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">FF Plugin</a></li>
        </ul>

        <h2>Test Management</h2>
        <ul>
          <li><a href="https://leantesting.com/">LeanTesting</a></li>
          <li><a href="http://moqa.mobi/">Moqa</a></li>
          <li><a href="https://checkvist.com/">Checkvist</a></li>
          <li><a href="https://ontestpad.com/">Testpad</a> </li>
          <li><a href="https://checkvist.com/checklists/476089">Checklists base</a> - plenty of ready to use
            checklists for popular scenarios.</li>
        </ul>

        <h2>Mind Maps</h2>
        <ul>
          <li><a href="https://www.mindmup.com/">MindMup</a> </li>
          <li><a href="https://www.xmind.net/">XMind</a> (desktop)</li>
          <li><a href="https://www.mindmeister.com/">MindMeister</a> (paid, has plugins for Confluence)</li>
          <li><a href="https://coggle.it/">Coggle</a> </li>
          <li><a href="https://marketplace.atlassian.com/plugins/com.keinoby.confluence.plugins.yoikee-creator/server/overview">Yoikee</a> (Confluence plugin)</li>
          <li><a href="https://www.lucidchart.com/">LucidChart​</a></li>
        </ul>

        <h2>Usability</h2>
        <ul>
          <li><a href="https://stayintech.com/info/UX">Userium</a></li>
          <li><a href="http://www.checkmycolours.com">CheckMyColours</a></li>
        </ul>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->
  </div>
  <!-- /.row -->
</div>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "Tools for Software Testing | Qala",
      "alternativeHeadline": "Test Tools | Qala",
      "datePublished": "2017-12-08T00:00:00+00:00",
      "description": ""
    }

</script>
