---
title: "Did you know that your API doesn’t support BC time?"
layout: "blogEntry"
isPage: true
---
<div class="blog-container">
  <div>
    <div class="blog-main">
      <div class="blog-post">

        <h1 class="blog-post-title">Did you know that your API doesn’t support BC time?</h1>

        <p class="blog-post-meta">January 2, 2017 by Stanislav Bashkyrtsev | Last Edited: January 6, 2017</p>
          <p>
            While doing <a href="randomized-testing.html">Randomized Testing</a> I found out that my Jackson formatter
            works incorrectly sometimes and my tests fail in 50% of cases. Here is a minimal test to reproduce it
            easier:
          </p>
          <pre><code class="language-java">import static io.qala.datagen.RandomDate.beforeNow;
import static org.testng.Assert.assertEquals;
import java.time.OffsetDateTime;
import java.time.format.DateTimeFormatter;

@Test public void parsesOutSameTimeThatWasFormatted() {
    OffsetDateTime original = beforeNow().offsetDateTime();
    DateTimeFormatter format = DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm:ss.SSSXXXX");
    String asString = format.format(original);
    OffsetDateTime parsed = OffsetDateTime.parse(asString, format);
    assertEquals(original, parsed);
}</code></pre>
          <p> The error looks like this: </p>
          <pre> Expected :+49890859-01-13T22:22:36
 Actual   :-49890858-01-13T22:22:36</pre>
          <p>Any guess what’s wrong and how to fix it? Here is a clue - the issue reproduces only with negative years.</p>


          <h2>Interesting facts about date formatters and ISO8601 format</h2>
          <p>
              Fact #1: ISO8601 doesn’t allow years before 1582-10-15 by default
              (<a href="https://en.wikipedia.org/wiki/ISO_8601#Dates">click</a>).
              Since the format uses Gregorian Calendar, which was established in 1582, the dates before
              that don’t make sense for this calendar. But these dates still can be extrapolated using
              <a href="https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar">Proleptic Gregorian Calendar</a>.
              So it’s okay to use the dates before 1582 but both client and server should understand that this is not a
              real Gregorian date and people were using different calendars back then. In books they usually mention
              the date and "(Old Style)" or "(New Style)" comment or some calendar name to clear out any possible confusion.
          </p>
          <p>
              Fact #2: Gregorian/Julian calendars don’t have 0 year (<a href="https://en.wikipedia.org/wiki/0_(year)">click</a>)
              - for these calendars 1 BC is followed by 1 AD year. But from math perspective it’s easier to have 0 year,
              so ISO8601 uses <a href="https://en.wikipedia.org/wiki/Astronomical_year_numbering">Astronomical Year Numbering</a>
              which means that year 0 is 1 BC. That means that 2 BC is year -1 and so on. Incidentally the assertion
              above would fail for dates with year 0 too (not only for negative years).
          </p>
          <p>
              Fact #3: In the well-known
              <a href="http://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html">SimpleDateFormat</a>,
              the only way you could've denoted BC dates is using era (<kbd>G</kbd> letter). So you couldn't express
              BC dates in ISO8601 compatible format using <kbd>SimpleDateFormat</kbd> at all. <b>Years denoted as
              <kbd>yyyy</kbd> will not be negative</b>. If we try to format negative (or zero) year they turn into
              positive years. So <kbd>0000</kbd> year turns into year <kbd>0001</kbd>. And <kbd>-0001</kbd> year turns
              into <kbd>0002</kbd> by the formatter. This is because <kbd>yyyy</kbd> is the year of an era - you should
              know the era to understand which years we’re transferring. Issue
              <a href="https://bugs.openjdk.java.net/browse/JDK-4482478">JDK-4482478</a> explains that this behaviour
              is compatible with ANSI C.
          </p>
          <p>
              Fact #4: Finally, in Java8 the new Time API adds
              <a href="https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html">DateTimeFormatter</a>
              which keeps the "backward compatibility" and treats <kbd>yyyy</kbd> the same, but it introduces a notion
              of <kbd>uuuu</kbd> which finally allows using negative years.
          </p>


          <h2>Solutions</h2>
          <p>There are 2 possible solutions to use BC years:</p>
          <ul>
              <li>Using BC/AD explicitly (in formatter patterns this is denoted as <kbd>G</kbd>). Example:
                  <kbd>yyyyG-MM-dd'T'HH:mm:ss.SSS</kbd>. But BC/AD are not part of ISO8601 so this change is not
                  preferable.</li>
              <li>Using <kbd>DateTimeFormatter</kbd>'s <kbd>uuuu</kbd> instead of <kbd>yyyy</kbd>. While
                  <kbd>yyyy</kbd> is the year of an era, the <kbd>uuuu</kbd> is just a year where <kbd>+</kbd> and
                  <kbd>-</kbd> designate the era.</li>
          </ul>
          <p>
              So the final solution is to use: <kbd>uuuu-MM-dd'T'HH:mm:ss.SSSXXXX</kbd>. Since I see <kbd>yyyy</kbd> in
              Java projects all the time I assume there are a lot of products around that don’t support BC dates.
              This is probably not a big deal since we don’t normally work with BC dates, but still is a curious fact
              that I wouldn’t run into without test randomization.
          </p>
          <p>Does your project handle BC dates correctly?</p>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->
  </div>
  <!-- /.row -->
</div>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "Did you know that your API doesn’t support BC time? | Qala",
      "alternativeHeadline": "Format BC Dates in Java | Qala",
      "datePublished": "2017-01-06T00:00:00+00:00",
      "description": "Finding tricky parts of Java Time API with randomized tests. Most people format their dates with 'yyyy' pattern which appears to be wrong."
    }
</script>
